.App {
  display: block;
  background: url(https://i.imgur.com/S1tRWYZ.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bold {
  font-weight: bold;
}


/* * {
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  padding: 0;
} */

