#languages {
    color: white;
    display: block;
}

.text-center {
    padding-top: 24px;
    text-align: center;
    margin: 16px 0 16px;
}

.card-body {
    display: block;
    padding: 32px, 16px, 16px, 16px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
}

.col-lg-3 {
    height: auto;
    margin: 0 auto;
    padding: 32px, 16px, 16px, 16px;
    width: 20rem;
    font-size: x-large;
    text-align: center;
}

.card-title {
    margin-bottom: 40px;
}

.skill-icon {
    font-size: 90px;
}

.skill-icon:hover {
    color: rgb(164, 12, 12);
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media screen and (max-width:1707px) {
    .col-lg-3 {
        width: 50%;
    }
}

@media screen and (max-width:520px) {
    .col-lg-3 {
        width: 100%;
    }
}