#about {
    color: white;
    display: grid;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.main-title {
    margin-top: 1.5rem;
}

.about-me {
    display: flex;
    justify-content: center;
}

.about-text {
    padding-left: 50px;
    width: 400px;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
}

.about-item {
    border: 1px solid rgb(165, 17, 17);
    border-radius: 5rx;
    transition: all .4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
}

.right-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 241px;
}

.left-about {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 500px;
}

.about-item:hover {
    transition: all .4s ease-in-out;
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid rgb(165, 17, 17);
    box-shadow: 1px 4px 15px rgba(0, 0, 0, .32);
}

.abt-text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.small-text {
    padding-left: 3rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.large-text {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(165, 17, 17);
}

.timeline-title {
    margin-top: 2rem
}

.timeline {
    margin-top: 1rem;
    margin-left: 4rem;
    max-width: 500px;
    margin-bottom: 2rem;
    float: left;
}

.timeline-item {
    padding-left: 3rem;
    border-left: 1px solid rgb(165, 17, 17);
}

.tl-icon {
    background-color: rgb(165, 17, 17);
    width: fit-content;
    margin-left: -4.05rem;
    border-radius: 50%;
    border: .5rem solid rgb(165, 17, 17);
    font-size: large;
}

@media screen and (max-width:1180px) {
    .about-container {
        display: flex;
        flex-direction: column;
    }

    .right-about {
        margin-top: 2rem;
        margin-left: 12rem;
    }
}

@media screen and (max-width:1030px) {
    .right-about {
        margin-left: 10rem;
    }
}

@media screen and (max-width:950px) {
    .right-about {
        margin-left: 9rem;
    }
}

@media screen and (max-width:850px) {
    .right-about {
        margin-left: 8rem;
    }
}


@media screen and (max-width:750px) {
    .right-about {
        margin-left: 6rem;
    }
}

@media screen and (max-width:650px) {
    .right-about {
        margin-left: 1rem;
    }
}

@media screen and (max-width:570px) {
    .right-about {
        display: flex;
        justify-self: center;
        width: auto;
        flex-direction: column;
        width: 300px;
        margin-left: 3rem;
    }
}

@media screen and (max-width:520px) {
    .right-about {
        display: flex;
        flex-direction: column;
        width: 300px;

    }

    .left-about {
        width: 100%;
        justify-content: center;
        align-self: center;
    }
}

@media screen and (max-width:475px) {
    .right-about {
        display: flex;
        flex-direction: column;
        width: 250px;

    }

    .about-text {
        font-size: small;
        width: 100%;
        justify-content: center;
        align-self: center;
        width: 300px;
    }
}

@media screen and (max-width:520px) {
    .timeline {
        margin-left: 1rem;
        font-size: small;
    }
}