
#contact {
    background-color: rgb(164,12,12);
}

.container.contact_container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    padding-top: 1.2rem;
    color: white;
}

.contact_option {
    flex-direction: column;
    transition: var(--transition);
    border: 2px solid transparent;
    width: 270px;
    text-align: center;
    border-radius: 1.2rem;
    margin-top: 5.5rem;
}

.contact_option:hover {
    background: transparent;
    border-color: white;
}
.contact_option-text {
    margin-top: 2rem;
}

.contact_option-icon {
    font-size: 1.5rem;

}

.contact_option a {
    display: inline-block;
    font-size: 0.8rem;
}

.chat-icon {
    font-size: 40px;
}

.contact_option-header {
font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: white;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid white;
    resize: none;
    color: white;
}

input::placeholder, textarea::placeholder{
    color: white;
  }

  .submit {
    margin-bottom: 1.2rem;
  }

@media screen and (max-width: 1185px) {
    .container.contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .contact_option {
        margin-top: 1.2rem;
    }

}

@media screen and (max-width: 600px) {
    .contact_option {
        margin: auto;
        position: relative;
    }
}

@media screen and (max-width: 500px) {
    .container.contact_container {
        width: var(--container-width-sm);
    }
}

