#word {
  overflow: auto;
}


.projects {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1.5rem;
}

.card-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 1rem;
  justify-content: center;
}

.icon {
  transition: transform 1s;
  transform: rotateX(-180deg)
}

.flip-card-inner:hover .icon {
  transition: transform 1s;
  transform: rotateX(180deg)  
}

.row {
    justify-content: center;
    z-index: 1;
}


.flip-card-inner {
  transform-style: preserve-3d;
  transition: .5s linear .1s;
  width: inherit;
  height: inherit;
  cursor: pointer;
}

.showBack {
    transform: rotateY(180deg);
}
.card {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front {
  transform: rotateY(0);
  background-color: #2d2d2d;
  color: #fff;
}

.back {
    transform: rotateY(180deg);
    background-color: #fff;
    color: #2d2d2d;
}

p {
    margin-bottom: 0;
  }

  .name {
    font-size: 2rem;
    font-weight: bold;
  }

  .description {
    font-size: 1rem;
  }
.deployed{ 
  margin-right: 1rem ;
    font-size: 1.2rem;
}
.GitHub {
    font-size: 1.2rem;
}

  .programs {
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    transform: rotateY(180deg);
  }

  .flip-card-outer {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin: 25px;
  }

  @media screen and (max-width:731px) {
    .projects {
      margin-top: 2rem;
      margin-bottom: 20rem;
    }
    #work {
        margin-bottom: 20rem;
    }
}
@media screen and (max-width:851px) {
  .projects {
    margin-top: 2rem;
    margin-bottom: 20rem;
  }
  #work {
      margin-bottom: 20rem;
  }
}


@media screen and (max-width:401px) {
  .projects {
    text-align: center;
  }
}

@media screen and (max-height: 850px) {
  .h-100 {
    margin-top: 10rem;
  }
}

@media screen and (max-height: 880px) {
  .h-100 {
    margin-top: 8rem;
  }
}

@media screen and (max-height: 750px) {
  .h-100 {
    margin-top: 15rem;
  }
}

@media screen and (max-height: 650px) {
  .h-100 {
    margin-top: 22rem;
  }
}

@media screen and (max-height: 550px) {
  .h-100 {
    margin-top: 22rem;
  }
}

@media screen and (max-height: 480px) {
  .h-100 {
    margin-top: 25rem;
  }
}


@media screen and (max-height: 800px) {
  #work {
    margin-bottom: 8rem;
  }
}

@media screen and (max-height: 780px) {
  #work {
    margin-bottom: 10rem;
  }
}

@media screen and (max-height: 760px) {
  #work {
    margin-bottom: 12rem;
  }
}

@media screen and (max-height: 740px) {
  #work {
    margin-bottom: 14rem;
  }
}

@media screen and (max-height: 710px) {
  #work {
    margin-bottom: 16rem;
  }
}

@media screen and (max-height: 690px) {
  #work {
    margin-bottom: 18rem;
  }
}

@media screen and (max-height: 670px) {
  #work {
    margin-bottom: 20rem;
  }
}

@media screen and (max-height: 640px) {
  #work {
    margin-bottom: 22rem;
  }
}

@media screen and (max-height: 620px) {
  #work {
    margin-bottom: 24rem;
  }
}

@media screen and (max-height: 600px) {
  #work {
    margin-bottom: 26rem;
  }
}

@media screen and (max-height: 420px) {
  #work {
    margin-bottom: 29rem;
  }
  .h-100 {
    margin-top: 28rem;
  }
}

@media screen and (max-width: 851px) and (max-height: 1121px) {
  #work {
    margin-bottom: 26rem;
  }
  .h-100 {
    margin-top: 5rem;
  }
}


@media screen and (max-width: 851px) and (max-height: 1021px) {
  #work {
    margin-bottom: 31rem;
  }
  .h-100 {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 851px) and (max-height: 921px) {
  #work {
    margin-bottom: 36rem;
  }
  .h-100 {
    margin-top: 15rem;
  }
}

@media screen and (max-width: 851px) and (max-height: 821px) {
  #work {
    margin-bottom: 43rem;
  }
  .h-100 {
    margin-top: 22rem;
  }
}

@media screen and (max-width: 851px) and (max-height: 721px) {
  #work {
    margin-bottom: 49rem;
  }
  .h-100 {
    margin-top: 28rem;
  }
}

@media screen and (max-width: 851px) and (max-height: 621px) {
  #work {
    margin-bottom: 55rem;
  }
  .h-100 {
    margin-top: 34rem;
  }
}

@media screen and (max-width: 851px) and (max-height: 521px) {
  #work {
    margin-bottom: 61rem;
  }
  .h-100 {
    margin-top: 40rem;
  }
}

@media screen and (max-width: 851px) and (max-height: 421px) {
  #work {
    margin-bottom: 68rem;
  }
  .h-100 {
    margin-top: 47rem;
  }
}