#word {
  overflow: auto;
}

.App-header {
  margin-top: 0px;
}

.projects {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1.5rem;
}

.card-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-self: center;

  justify-content: center;
}

.icon {
  transition: transform 1s;
  transform: rotateX(-180deg)
}

.flip-card-inner:hover .icon {
  transition: transform 1s;
  transform: rotateX(180deg)
}

.row {
  justify-content: center;
  z-index: 1;

}


.flip-card-inner {
  transform-style: preserve-3d;
  transition: .5s linear .1s;
  width: inherit;
  height: inherit;
  cursor: pointer;
}

.showBack {
  transform: rotateY(180deg);
}

.card {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.front {
  transform: rotateY(0);
  background-color: #2d2d2d;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.back {
  transform: rotateY(180deg);
  background-color: #fff;
  color: #2d2d2d;
}

p {
  margin-bottom: 0;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.description {
  font-size: 1rem;
}

.deployed {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.GitHub {
  font-size: 1.2rem;
}

.programs {
  padding-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  transform: rotateY(180deg);
}

.flip-card-outer {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin: 25px;
}

@media screen and (max-width: 520px) {
  .flip-card-outer {
    width: 300px;
    height: 400px;
  }
}

@media screen and (min-width: 521px) {
  .flip-card-outer {
    width: 400px;
    height: 500px;
  }
  .name {
    font-size: 2.5rem;
  }
  .description {
    font-size: 1.5rem;
  }
  .deployed {
    font-size: 1.8rem;
  }
  .GitHub {
    font-size: 1.8rem;
  }
  .programs {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 2399px) {
  #work {
    margin-bottom: 23rem;
  }

  .h-100 {
    margin-top: 35rem;
  }
}

@media screen and (max-width: 1199px) {
  #work {
    margin-bottom: 90rem;
  }

  .h-100 {
    margin-top: 100rem;
  }
}

@media screen and (max-width: 520px) {
  #work {
    margin-bottom: 65rem;
  }

  .h-100 {
    margin-top: 75rem;
  }
}

@media screen and (max-width: 768px) and (max-height: 820px) {
  #work {
    margin-bottom: 105rem;
  }

  .h-100 {
    margin-top: 110rem;
  }
}


@media screen and (max-width: 520px) and (max-height: 1121px) {
  #work {
    margin-top: 0;
    margin-bottom: 65rem;
  }

  .h-100 {
    margin-top: 75rem;
  }
}

@media screen and (max-width: 520px) and (max-height: 1021px) {
  #work {
    margin-bottom: 70rem;
  }

  .h-100 {
    margin-top: 80rem;
  }
}

@media screen and (max-width: 520px) and (max-height: 921px) {
  #work {
    margin-bottom: 75rem;
  }

  .h-100 {
    margin-top: 85rem;
  }
}




@media screen and (max-width: 520px) and (max-height: 821px) {
  #work {
    margin-bottom: 80rem;
  }

  .h-100 {
    margin-top: 90rem;
  }
}

@media screen and (max-width: 520px) and (max-height: 721px) {
  #work {
    margin-bottom: 85rem;
  }

  .h-100 {
    margin-top: 95rem;
  }
}

@media screen and (max-width: 520px) and (max-height: 621px) {
  #work {
    margin-bottom: 90rem;
  }

  .h-100 {
    margin-top: 95rem;
  }
}

@media screen and (max-width: 520px) and (max-height: 521px) {
  #work {
    margin-bottom: 95rem;
  }

  .h-100 {
    margin-top: 100rem;
  }
}

@media screen and (max-width: 520px) and (max-height: 421px) {
  #work {
    margin-bottom: 100rem;
  }

  .h-100 {
    margin-top: 105rem;
  }
}